mixin review(price)
  li.price__item
    .price__icon
      svg(viewBox="0 0 " + price.iconWidth + " " + price.iconHeight, width=price.iconWidth, height=price.iconHeight)
        use(xlink:href="#price_icon_" + price.id)
    .price__link_wrapper
      a.price__name(id='priceName' + price.id, target='_blank' href=price.linkHref) #{price.linkText}
      a.price__service(id='priceAbout' + price.id, href=price.serviceHref) Об услуге
    p.price__price(id='price_price' + price.id) #{price.price}
    p.price__currency ₴
-
  const priceArray = [
    {
      id: '01',
      iconWidth: '40',
      iconHeight: '60',
      linkHref: 'https://n447728.yclients.com/company:424409?o=s6579673',
      linkText: 'мужская стрижка',
      serviceHref: 'muzhskaya_strizhka.html',
      price: '400',
      priceTop: '500',
    },
    {
      id: '02',
      iconWidth: '43',
      iconHeight: '60',
      linkHref: 'https://n447728.yclients.com/company:424409?o=s6579963',
      linkText: 'стрижка машинкой',
      serviceHref: 'strizhka_mashinkoy.html',
      price: '300',
      priceTop: '300',
    },
    {
      id: '04',
      iconWidth: '52',
      iconHeight: '36',
      linkHref: 'https://n447728.yclients.com/company:424409?o=s6579971',
      linkText: 'стрижка бороды',
      serviceHref: 'strizhka_borody.html',
      price: '250',
      priceTop: '300',
    },
    {
      id: '03',
      iconWidth: '39',
      iconHeight: '53',
      linkHref: 'https://n447728.yclients.com/company:424409?o=s6579997',
      linkText: 'детская стрижка',
      serviceHref: 'detskaya_strizhka.html',
      price: '300',
      priceTop: '400',
    },
    {
      id: '06',
      iconWidth: '35',
      iconHeight: '54',
      linkHref: 'https://n447728.yclients.com/company:424409?o=s6580018',
      linkText: 'комплекс',
      serviceHref: 'kompleks.html',
      price: '650',
      priceTop: '750',
    },
    {
      id: '07',
      iconWidth: '60',
      iconHeight: '60',
      linkHref: 'https://n447728.yclients.com/company:424409?o=s6579989',
      linkText: 'отец + сын',
      serviceHref: 'otec_syn.html',
      price: '600',
      priceTop: '700',
    },
    {
      id: '05',
      iconWidth: '28',
      iconHeight: '49',
      linkHref: 'https://n447728.yclients.com/company:424409?o=s6580058',
      linkText: 'Королевское бритье',
      serviceHref: 'https://baribal.kyiv.ua/blog/ru/korolevskoe-brite/',
      price: '350',
      priceTop: '400',
    },
    {
      id: '08',
      iconWidth: '44',
      iconHeight: '54',
      linkHref: 'https://n447728.yclients.com/company:424409?o=s6579972',
      linkText: 'укладка',
      serviceHref: 'ukladka.html',
      price: '150',
      priceTop: '150',
    },
    {
      id: '09',
      iconWidth: '46',
      iconHeight: '43',
      linkHref: 'https://n447728.yclients.com/company:424409?o=s6580003',
      linkText: 'Камуфлирование',
      serviceHref: 'kamuflirovanie_sediny.html',
      price: '300',
      priceTop: '300',
    },
    {
      id: '11',
      iconWidth: '60',
      iconHeight: '60',
      linkHref: 'https://n447728.yclients.com/company:424409?o=s7961830',
      linkText: 'Чистка ушей',
      serviceHref: 'https://baribal.kyiv.ua/blog/ru/chistka-ushej-fitosvechami/',
      price: '300',
      priceTop: '300',
    },
    {
      id: '10',
      iconWidth: '60',
      iconHeight: '60',
      linkHref: 'https://n447728.yclients.com/company:424409?o=s7389640',
      linkText: 'Black Mask',
      serviceHref: 'black_mask.html',
      price: '300',
      priceTop: '300',
    },
    {
      id: '12',
      iconWidth: '56',
      iconHeight: '48',
      linkHref: 'https://n447728.yclients.com/company:424409?o=s8031457',
      linkText: 'Полный комплекс',
      serviceHref: 'https://baribal.kyiv.ua/blog/polnyj-kompleks/',
      price: '1400',
      priceTop: '1500',
    },
  ]


section.price#price
  .price__container.container
    h2.price__title.title(id="priceTitle") Услуги
    .price__toggle_wrapper
      button.price__barber.price__barber--normal.active#normalBarber Барбер
      button.price__barber.price__barber--top#topBarber Топ барбер
    ul.price__list
      each price in priceArray
        +review(price)
